:root {
  --text-color-primary: #000000;
  --text-color-secondary: #ffffff;
  --text-color-other: #907e82;
  --text-color-titles: #d41443;
  --text-color-labels: #ffa5ba;
  --background-color-primary: #ffffff;
  --background-color-secondary: #fff5f6;
  --background-color-other: #ffb8ca;
  --decorative-color: #ffa5ba;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  margin: 0;
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  color: var(--text-color-primary);
  background-color: var(--background-color-primary);
  font-family: "DM Sans", sans-serif;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.list {
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
  font-style: normal;
}

.title {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--text-color-titles);
}

.label {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-color-labels);
}

@font-face {
  font-family: "DM Sans";
  src: local("DM Sans"), url("../fonts/DMSans-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "DM Sans";
  src: local("DM Sans"), url("../fonts/DMSans-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "DM Sans";
  src: local("DM Sans"), url("../fonts/DMSans-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Titan One";
  src: local("Titan One"), url("../fonts/TitanOne-Regular.ttf") format("truetype");
  font-weight: 400;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 320px) {
  .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.customer-reviews__box {
  display: flex;
  flex-direction: column;
}
.customer-reviews__img {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 32px;
}
.customer-reviews__points {
  display: flex;
  justify-content: center;
}
.customer-reviews__item {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #C7133E;
  margin-left: 10px;
}
.customer-reviews__thumb {
  background-color: #FAFAFA;
  padding: 43px 50px 0px 50px;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) and (max-width: 1199.5px) {
  .customer-reviews__thumb {
    background-color: var(--background-color-primary);
  }
}
.customer-reviews__text {
  padding: 0px 8px 0px 15px;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;
  text-align: center;
  color: #000000;
  background-image: repeating-linear-gradient(#FAFAFA, #FAFAFA 29px, #E1E1E1 30px, #E1E1E1 10px);
}
@media screen and (min-width: 768px) and (max-width: 1199.5px) {
  .customer-reviews__text {
    background-image: repeating-linear-gradient(#ffffff, #ffffff 29px, #E1E1E1 30px, #E1E1E1 10px);
  }
}
.customer-reviews__name {
  text-align: center;
  margin-bottom: 16px;
}/*# sourceMappingURL=main.css.map */